<h3>Name: <%= @name %></h3>
<h4>Email: <%= @email %></h4>
<h4>Phone: <%= @phone %></h4>
<h4>Newsletter: <%= @newsletter %></h4>
<h4>Subscribe to new products: <%= @subscribe %></h4>
<h4>Contact Method: <%= @contact_method %></h4>
<h4>Product: <%= @product %></h4>

<h5>Message:</h5>
<%= @message.html_safe %>
