<h3>Products</h3>
<ul>
  <li><%= link_to "Curabitur sodales", store_path %></li>
  <li><%= link_to "Sed dignissim", store_path %></li>
  <li><%= link_to "Fusce nec", store_path %></li>
  <li><%= link_to "Nulla quis", store_path %></li>
  <li><%= link_to "Curabitur sodales", store_path %></li>
  <li><%= link_to "Sed dignissim", store_path %></li>
  <li><%= link_to "Fusce nec", store_path %></li>
  <li><%= link_to "Nulla quis", store_path %></li>
</ul>

<h3>Articles</h3>
<ul>
  <li><%= link_to "Round Trip Travel Blocked", articles_path %></li>
  <li><%= link_to "More blah", articles_path %></li>
  <li><%= link_to "Fusce nec", articles_path %></li>
  <li><%= link_to "Nulla quis", articles_path %></li>
</ul>