<article>
  <h2><%= link_to "Round Trip Travel Blocked", articles_path %></h2>
  <%= image_tag "space.png", alt: "", class: "alignleft" %>

  <p><strong>Due to new Earth Customs regulations, Lunar Airlines&trade; will no longer be able to provide return trips from the moon.</strong></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Duis
    sagittis ipsum. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh
    elementum imperdiet. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
    Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia
    nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Duo
    partem graeco repudiare ne, vix cu graeci nostrud blandit. Agam graecis omnesque usu ut, veniam
    commune ne sit, vide lucilius complectitur at ius.</p>
  <p><%= link_to "Read more...", articles_path %></p>

</article>

<article>
  <h2><%= link_to "Second Recent Article Title", articles_path %></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
    cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
    Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
    nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Usu pericula argumentum repudiandae
    ea, ut vis deserunt oportere, assum nominavi percipitur ei ius. Nam timeam atomorum philosophia te,
    ut eum amet laoreet pertinax, an duo error aperiri reformidans. Et alii quas partiendo mei, wisi
    quaestio convenire et vix.</p>

  <p><%= link_to ">Read more...", articles_path %></p>
</article>
